/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* set grid gutter here. */
/* set common inner width here */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/**********
	 Blog Grid Posts
***********/
@media (min-width: 550px) {
  /* line 26, ../scss/breakpoints/_481up.scss */
  .animationMobile {
    display: none;
  }

  /* line 27, ../scss/breakpoints/_481up.scss */
  .animationDesk {
    display: block;
  }

  /* line 30, ../scss/breakpoints/_481up.scss */
  .blogGrid .blogGridPosts {
    padding: 4vw 1vw 2vw 1vw;
  }
  /* line 32, ../scss/breakpoints/_481up.scss */
  .blogGrid .blogGridPosts .backImg {
    margin: 1vw;
    width: 46vw;
  }

  /* line 39, ../scss/breakpoints/_481up.scss */
  .WeaverblogGrid .blogGridPosts {
    padding: 4vw 1vw 2vw 1vw;
  }
  /* line 41, ../scss/breakpoints/_481up.scss */
  .WeaverblogGrid .blogGridPosts .backImg {
    margin: 1vw;
    width: 46vw;
  }
}
/************************************************************************************
*************************************************************************************

                              GALLERY PAGE

************************************************************************************
************************************************************************************/
/* line 57, ../scss/breakpoints/_481up.scss */
.galleryFlex div {
  width: 49%;
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/
/********* STRIP FORM

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 20, ../scss/breakpoints/_768up.scss */
.fullSiteD {
  display: block;
  padding-top: 26px;
}
/* line 23, ../scss/breakpoints/_768up.scss */
.fullSiteD h3 {
  color: white;
  text-align: right;
  padding-right: 121px;
}

/* line 29, ../scss/breakpoints/_768up.scss */
.fullSiteM {
  display: none;
}

/* line 33, ../scss/breakpoints/_768up.scss */
.hBanner .sideText, .homeTriangles {
  top: 15vw !important;
}

/*********************
PARAGRAPH COLS
*********************/
/* line 41, ../scss/breakpoints/_768up.scss */
.pCols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
/* line 46, ../scss/breakpoints/_768up.scss */
.pCols div {
  width: 48%;
}

/************************************************************************************
*************************************************************************************

							     HOME SECTIONS

************************************************************************************
************************************************************************************/
/* line 60, ../scss/breakpoints/_768up.scss */
.testSec .flex, .servSec .flex {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
/* line 62, ../scss/breakpoints/_768up.scss */
.testSec .flex .flexDiv, .servSec .flex .flexDiv {
  width: 31%;
  max-width: 330px;
}

/* line 69, ../scss/breakpoints/_768up.scss */
.contactSec .secWrapper {
  padding: 50px 30px 30px 30px !important;
}
/* line 71, ../scss/breakpoints/_768up.scss */
.contactSec .secWrapper h4 {
  margin: 6px 0px 0px 6px;
}
/* line 74, ../scss/breakpoints/_768up.scss */
.contactSec .secWrapper .flex {
  max-width: none;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
/* line 78, ../scss/breakpoints/_768up.scss */
.contactSec .secWrapper .flex .contactForm {
  width: 49%;
}
/* line 81, ../scss/breakpoints/_768up.scss */
.contactSec .secWrapper .flex .contactInfo {
  width: 49%;
  margin-top: -10px;
  min-width: 275px;
}

/* line 89, ../scss/breakpoints/_768up.scss */
.nf-field-container {
  margin: 7px !important;
}

/* line 92, ../scss/breakpoints/_768up.scss */
.label-hidden .nf-field-element {
  margin: 12px 0px 6px 0px !important;
}

/* line 95, ../scss/breakpoints/_768up.scss */
textarea#nf-field-3 {
  width: 70% !important;
  float: right !important;
  height: 85px !important;
  margin: -96px 10% 0px 20% !important;
}

/* line 101, ../scss/breakpoints/_768up.scss */
input#nf-field-1, input#nf-field-2 {
  float: left !important;
  width: 20% !important;
  min-width: 120px !important;
}

/* line 106, ../scss/breakpoints/_768up.scss */
.field-wrap input[type="submit"], .field-wrap input[type="button"], .field-wrap button {
  width: 10% !important;
  float: right !important;
  height: 85px !important;
  margin-top: -109px !important;
  min-width: 47px !important;
}

/************************************************************************************
*************************************************************************************

									   						BLOG POST STYLES

************************************************************************************
************************************************************************************/
/**********
  FEATURED
***********/
/* line 127, ../scss/breakpoints/_768up.scss */
.featuredPosts {
  width: 100%;
  padding-left: 10%;
  margin-bottom: 50px;
}
/* line 131, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg {
  height: 550px;
  position: relative;
}
/* line 134, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg img {
  height: 100%;
}
/* line 137, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg .logoPrev {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 60px;
  left: 60px;
}
/* line 144, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg .aInfo {
  background-color: white;
  width: 450px;
  position: absolute;
  right: 60px;
  left: auto;
  bottom: 60px;
  padding: 6px 18px 18px 18px;
}
/* line 152, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg .aInfo h2 {
  color: #e27c00;
  margin: 10px 0px 0px 0px;
}
/* line 156, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg .aInfo p {
  margin: 0px;
}
/* line 159, ../scss/breakpoints/_768up.scss */
.featuredPosts .backImg .aInfo a {
  font-weight: bold;
}

/**********
	OTHER
***********/
/* line 171, ../scss/breakpoints/_768up.scss */
.resSec .otherPosts {
  padding: 4vw 0vw 2vw 0vw;
}

/* line 177, ../scss/breakpoints/_768up.scss */
.otherPosts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
  padding: 4vw 0vw 2vw 0vw;
}
/* line 184, ../scss/breakpoints/_768up.scss */
.otherPosts .backImg {
  height: 400px;
  position: relative;
  width: 48%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 191, ../scss/breakpoints/_768up.scss */
.otherPosts .backImg .logoPrev {
  padding: 0px 0px 260px 0px;
}
/* line 194, ../scss/breakpoints/_768up.scss */
.otherPosts .backImg .aInfo {
  bottom: 0;
  min-width: 369px;
  background-color: white;
  width: 48%;
  left: auto;
  max-width: 450px;
  margin: 0px 0px 50px 0px;
  padding: 6px 18px 18px 18px;
}
/* line 203, ../scss/breakpoints/_768up.scss */
.otherPosts .backImg .aInfo h2 {
  color: #e27c00;
  margin: 10px 0px 0px 0px;
}
/* line 207, ../scss/breakpoints/_768up.scss */
.otherPosts .backImg .aInfo p {
  margin: 0px;
}
/* line 210, ../scss/breakpoints/_768up.scss */
.otherPosts .backImg .aInfo a {
  font-weight: bold;
}

/**********
 WEAVER PAGE
***********/
/* line 222, ../scss/breakpoints/_768up.scss */
.weaverContent .weaverTitle {
  margin-top: -150px;
}
/* line 225, ../scss/breakpoints/_768up.scss */
.weaverContent .weaverTitle .weaveUp .wM {
  display: none;
}
/* line 226, ../scss/breakpoints/_768up.scss */
.weaverContent .weaverTitle .weaveUp .wD {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: auto;
}

/**********
 FEATURED WEAVER
***********/
/* line 239, ../scss/breakpoints/_768up.scss */
.featuredWeaver {
  padding-left: 10%;
  margin-bottom: 50px;
}
/* line 242, ../scss/breakpoints/_768up.scss */
.featuredWeaver h1 {
  padding: 0px 30px 0px 12%;
  left: -12%;
}
/* line 246, ../scss/breakpoints/_768up.scss */
.featuredWeaver .backImg {
  height: 550px;
  position: relative;
}
/* line 249, ../scss/breakpoints/_768up.scss */
.featuredWeaver .backImg img {
  height: 100%;
}
/* line 252, ../scss/breakpoints/_768up.scss */
.featuredWeaver .backImg .weInfo {
  background-color: #1a1b1c;
  bottom: 30px;
  left: 20px;
}
/* line 256, ../scss/breakpoints/_768up.scss */
.featuredWeaver .backImg .weInfo .issueNo {
  color: #e27c00;
  font-size: 2.7em;
}

/**********
  SUB WEAVER
***********/
/* line 268, ../scss/breakpoints/_768up.scss */
.subWeaver {
  position: relative;
  width: 100%;
  padding-left: 10%;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
/* line 275, ../scss/breakpoints/_768up.scss */
.subWeaver .weInfo {
  background-color: #1a1b1c;
  bottom: 30px;
  left: 20px;
}
/* line 279, ../scss/breakpoints/_768up.scss */
.subWeaver .weInfo .issueNo {
  color: #e27c00;
  font-size: 2.7em;
}
/* line 284, ../scss/breakpoints/_768up.scss */
.subWeaver .backImg {
  width: 48%;
  height: 300px;
  position: relative;
  margin: 0px;
}
/* line 289, ../scss/breakpoints/_768up.scss */
.subWeaver .backImg img {
  height: 100%;
}

/************************************************************************************
		*************************************************************************************

											   			BLOG PAGE/POST STYLES

		************************************************************************************
		************************************************************************************/
/**********
WEAVER POST
***********/
/* line 307, ../scss/breakpoints/_768up.scss */
.weaverPosts .imgRight {
  float: right !important;
  width: 50% !important;
  height: auto !important;
  margin-left: 2vw !important;
}
/* line 313, ../scss/breakpoints/_768up.scss */
.weaverPosts .imgLeft {
  float: left !important;
  width: 50% !important;
  height: auto !important;
  margin-left: 2vw !important;
}
/* line 320, ../scss/breakpoints/_768up.scss */
.weaverPosts .blogHeader .postLogo {
  display: block;
  width: 100px;
  height: auto;
  position: absolute;
  top: 3vw;
  right: 5vw;
}

/**********
ACTUAL POST
***********/
/* line 337, ../scss/breakpoints/_768up.scss */
.blog-content .imgRight {
  float: right !important;
  width: 50% !important;
  height: auto !important;
  margin-left: 2vw !important;
}
/* line 343, ../scss/breakpoints/_768up.scss */
.blog-content .imgLeft {
  float: left !important;
  width: 50% !important;
  height: auto !important;
  margin-left: 2vw !important;
}
/* line 350, ../scss/breakpoints/_768up.scss */
.blog-content .blogHeader .postLogo {
  display: block;
  width: 100px;
  height: auto;
  position: absolute;
  top: 3vw;
  right: 5vw;
}

/* line 359, ../scss/breakpoints/_768up.scss */
.blogImgs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
  margin-bottom: 50px;
  padding: 0vw;
}
/* line 367, ../scss/breakpoints/_768up.scss */
.blogImgs .bImg {
  height: 400px;
  margin: 0vw 0vw 2vw 0vw;
  position: relative;
  width: 48%;
}

/************************************************************************************
	*************************************************************************************

														weaver sign

	************************************************************************************
	************************************************************************************/
/* line 383, ../scss/breakpoints/_768up.scss */
.miniSignUp {
  padding: 15px 0px 10px 0px;
}

@media (min-width: 990px) {
  /* line 387, ../scss/breakpoints/_768up.scss */
  .miniSignUp {
    padding: 20px 0px 0px 0px;
  }
  /* line 389, ../scss/breakpoints/_768up.scss */
  .miniSignUp .flex {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 395, ../scss/breakpoints/_768up.scss */
  .miniSignUp .flex .flexDiv {
    width: 48%;
    max-width: 430px;
  }
  /* line 398, ../scss/breakpoints/_768up.scss */
  .miniSignUp .flex .flexDiv h3 {
    margin-bottom: 30px;
  }
}
/************************************************************************************
	*************************************************************************************

														CONTACT PAGE

	************************************************************************************
	************************************************************************************/
/* line 411, ../scss/breakpoints/_768up.scss */
.contDiv {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

/* line 416, ../scss/breakpoints/_768up.scss */
.contactPage .secWrapper .flex {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

/* line 421, ../scss/breakpoints/_768up.scss */
#mc_embed_signup .button {
  width: 100% !important;
  padding: 0px 18px !important;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 11, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1040px;
}

/*****************
 *****************
       Team
 *****************
 *****************/
/* line 21, ../scss/breakpoints/_1030up.scss */
.hShot1 {
  left: 1%;
  width: 35%;
}

/* line 22, ../scss/breakpoints/_1030up.scss */
.hShot1active {
  width: 41% !important;
  left: 1% !important;
}

/* line 23, ../scss/breakpoints/_1030up.scss */
.hShot2 {
  left: 32%;
  width: 35%;
}

/* line 24, ../scss/breakpoints/_1030up.scss */
.hShot2active {
  left: 30% !important;
  width: 41% !important;
}

/* line 25, ../scss/breakpoints/_1030up.scss */
.hShot3 {
  right: 0%;
  width: 35%;
}

/* line 26, ../scss/breakpoints/_1030up.scss */
.hShot3active {
  width: 41% !important;
  right: 0% !important;
}

/* line 29, ../scss/breakpoints/_1030up.scss */
.empT1 {
  opacity: .6;
  display: block;
}

/* line 30, ../scss/breakpoints/_1030up.scss */
.empActive1 {
  opacity: 1 !important;
}

/* line 31, ../scss/breakpoints/_1030up.scss */
.empT2 {
  opacity: .6;
  display: block;
}

/* line 32, ../scss/breakpoints/_1030up.scss */
.empActive2 {
  opacity: 1 !important;
}

/* line 33, ../scss/breakpoints/_1030up.scss */
.empT3 {
  opacity: .6;
  display: block;
}

/* line 34, ../scss/breakpoints/_1030up.scss */
.empActive3 {
  opacity: 1 !important;
}

/* line 36, ../scss/breakpoints/_1030up.scss */
.empTitles {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 38, ../scss/breakpoints/_1030up.scss */
.empTitles .empT1, .empTitles .empT2, .empTitles .empT3 {
  width: 20%;
}

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
/* line 49, ../scss/breakpoints/_1030up.scss */
.mobile-nav-button {
  display: none;
}

/* line 50, ../scss/breakpoints/_1030up.scss */
.mobileMenu {
  display: none;
}

/* line 52, ../scss/breakpoints/_1030up.scss */
.deskMenu {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 900;
  top: 20px;
  left: auto;
  right: 10px;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 64, ../scss/breakpoints/_1030up.scss */
.deskMenu a {
  text-decoration: none;
  padding: 0px 10px;
  color: white;
}
/* line 69, ../scss/breakpoints/_1030up.scss */
.deskMenu a .socialI {
  width: 20px;
  height: 20px;
}
/* line 73, ../scss/breakpoints/_1030up.scss */
.deskMenu a:hover {
  color: #e27c00;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/************************************************************************************
*************************************************************************************

                          PROJECTS PAGE

************************************************************************************
************************************************************************************/
/* line 88, ../scss/breakpoints/_1030up.scss */
.projectCategories {
  padding-bottom: 70px;
}
/* line 90, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
/* line 93, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper .flex {
  width: 50%;
  height: fit-content;
  padding: 0;
}
/* line 98, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper .flex .pCatInfo img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
}
/* line 104, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper .flex .pCatInfo .ulLeft {
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
/* line 109, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper .flex .pCatInfo .ulLeft li {
  list-style-type: disc;
}
/* line 111, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper .flex .pCatInfo .ulRight {
  width: 50%;
  float: right;
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
/* line 116, ../scss/breakpoints/_1030up.scss */
.projectCategories .secWrapper .flex .pCatInfo .ulRight li {
  list-style-type: disc;
}

		/************************************************************************************
		*************************************************************************************

											   			BLOG PAGE/POST STYLES

		************************************************************************************
		************************************************************************************/
/**********
	ACTUAL POST
***********/
@media (min-width: 1200px) {
  /* line 130, ../scss/breakpoints/_1030up.scss */
  .backImg {
    width: 100%;
    height: 30vw;
  }

  /* line 135, ../scss/breakpoints/_1030up.scss */
  .blog-content {
    width: 100%;
    max-width: 950px;
    margin: auto;
    margin-top: -10vw;
    padding: 3vw;
  }
  /* line 141, ../scss/breakpoints/_1030up.scss */
  .blog-content .postLogo {
    top: 3vw;
    right: 3vw;
  }
}
/**********
	WEAVER POST
***********/
/* line 149, ../scss/breakpoints/_1030up.scss */
.weaverContent {
  width: 100%;
  max-width: 950px;
  margin: auto;
}
/* line 155, ../scss/breakpoints/_1030up.scss */
.weaverContent .weaverTitle h2 {
  font-size: 2em;
}

/**********
	INTERIOR BLOG PREVIEWS
***********/
/* line 164, ../scss/breakpoints/_1030up.scss */
.blogGrid .blogGridPosts {
  padding: 4vw .75vw 2vw .75vw;
}
/* line 166, ../scss/breakpoints/_1030up.scss */
.blogGrid .blogGridPosts .backImg {
  height: 400px;
  margin: .75vw;
  width: 31vw;
}
/* line 170, ../scss/breakpoints/_1030up.scss */
.blogGrid .blogGridPosts .backImg .aInfo {
  bottom: 40px;
  left: 5%;
  padding: 6px 18px 18px 18px;
}

/* line 177, ../scss/breakpoints/_1030up.scss */
.WeaverblogGrid .blogGridPosts {
  padding: 4vw .75vw 2vw .75vw;
}
/* line 179, ../scss/breakpoints/_1030up.scss */
.WeaverblogGrid .blogGridPosts .backImg {
  height: 400px;
  margin: .75vw;
  width: 31vw;
}

  /************************************************************************************
  *************************************************************************************

  											   			GALLERY PAGE

  ************************************************************************************
  ************************************************************************************/
/* line 193, ../scss/breakpoints/_1030up.scss */
.galleryFlex div {
  width: 32%;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
