/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  width: 1040px;
}
/*****************
 *****************
       Team
 *****************
 *****************/


.hShot1{left: 1%; width: 35%; }
.hShot1active { width: 41% !important; left: 1% !important;}
.hShot2{left: 32%; width: 35%;}
.hShot2active {left: 30% !important; width: 41% !important;}
.hShot3{right: 0%; width: 35%;}
.hShot3active {width: 41% !important; right: 0% !important;}


.empT1 {opacity: .6; display: block;}
.empActive1 {opacity: 1 !important;}
.empT2 {opacity: .6; display: block;}
.empActive2 {opacity: 1 !important;}
.empT3 {opacity: .6; display: block;}
.empActive3 {opacity: 1 !important;}

 .empTitles {
	 @include flex-direction(row);
	 .empT1, .empT2, .empT3 {
		 width: 20%;
 }}

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
.mobile-nav-button {display: none;}
.mobileMenu {display: none;}

.deskMenu {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 900;
  top: 20px;
  left: auto;
  right: 10px;

  @include justify-content(flex-end);
  @include flexbox;
  @include flex-direction(row);
  a {

    text-decoration: none;
    padding: 0px 10px;
    color: white;
    .socialI {
      width: 20px;
      height: 20px;
    }
    &:hover {
        color: $orange;
        @include transition(.5s);
    }
  }
}

/************************************************************************************
*************************************************************************************

                          PROJECTS PAGE

************************************************************************************
************************************************************************************/

.projectCategories {
	padding-bottom: 70px;
	.secWrapper {
		@include flexbox;
		@include justify-content(space-between);
		.flex {
			width: 50%;
			height: fit-content;
      padding: 0;
			.pCatInfo {
				img {
				width: 70px;
				height: 70px;
				float: left;
				margin-right: 10px;}

        .ulLeft {
          width: 50%;
          float: left;
          margin: 0px;
          padding:0px 0px 0px 20px;
          li {list-style-type: disc;}
        }
        .ulRight {
          width: 50%;
          float: right;
          margin:0px;
          padding:0px 0px 0px 20px;
          li {list-style-type: disc;}
        }}}}}
		/************************************************************************************
		*************************************************************************************

											   			BLOG PAGE/POST STYLES

		************************************************************************************
		************************************************************************************/

		/**********
			ACTUAL POST
		***********/
@media (min-width: 1200px) {
		.backImg {
			width: 100%;
			height: 30vw;
		}

	.blog-content {
		width: 100%;
		max-width: $blogWidth;
		margin: auto;
		margin-top: -10vw;
		padding: 3vw;
		.postLogo {
      top: 3vw;
      right: 3vw;
		}
	}}
  /**********
  	WEAVER POST
  ***********/
  .weaverContent {
    width: 100%;
    max-width: $blogWidth;
    margin: auto;
    .weaverTitle {

      h2 {
        font-size: 2em;
      }}
  }

  /**********
  	INTERIOR BLOG PREVIEWS
  ***********/
.blogGrid {
  .blogGridPosts {
    padding: 4vw .75vw 2vw .75vw;
  	.backImg {
  		height: 400px;
  		margin: .75vw;
  		width: 31vw;
  		.aInfo {
  			bottom: 40px;
  			left: 5%;
  			padding: 6px 18px 18px 18px;
  	}}
  }}
.WeaverblogGrid {
  .blogGridPosts {
    padding: 4vw .75vw 2vw .75vw;
    .backImg {
      height: 400px;
      margin: .75vw;
      width: 31vw;}
  }}
  /************************************************************************************
  *************************************************************************************

  											   			GALLERY PAGE

  ************************************************************************************
  ************************************************************************************/

  .galleryFlex {
  	div {
  		width: 32%;
  	}
  }
