/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/





.hBanner {
.backImg {height: 44vw;}
	.homeTriangles {

	}
	.sideText {

	.topSlog {

}
	.mainP {

		p {
			font-size: 1.2em !important;}
		}}


}
/**********
	INTERIOR BLOG PREVIEWS
***********/
.blogGridPosts {
	.backImg {
		height: 400px;
		margin: .5vw;
		width: 24vw;
		.aInfo {
			bottom: 40px;
			left: 5%;
			padding: 6px 18px 18px 18px;
	}}
}
