/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/




/**********
	 Blog Grid Posts
***********/
@media (min-width: 550px) {

  .animationMobile {display:none;}
  .animationDesk {display: block;}
  
.blogGrid {
  .blogGridPosts {
    padding: 4vw 1vw 2vw 1vw;
  	.backImg {
      margin: 1vw;
      width: 46vw;
  	}
}}

.WeaverblogGrid {
.blogGridPosts {
  padding: 4vw 1vw 2vw 1vw;
	.backImg {
    margin: 1vw;
    width: 46vw;
	}
}}

}
/************************************************************************************
*************************************************************************************

                              GALLERY PAGE

************************************************************************************
************************************************************************************/

.galleryFlex {
  div {
    width: 49%;
  }
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/


/********* STRIP FORM

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
