/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

.fullSiteD {
	display: block;
	padding-top: 26px;
	h3 {
		color: white;
		text-align: right;
		padding-right: 121px;
	}
}
.fullSiteM {
	display: none;
}

.hBanner .sideText, .homeTriangles{
	top: 15vw !important;
}

/*********************
PARAGRAPH COLS
*********************/

.pCols {
	@include flexbox;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	@include justify-content(space-between);
	div {
		width: 48%;
	}
}

/************************************************************************************
*************************************************************************************

							     HOME SECTIONS

************************************************************************************
************************************************************************************/

.testSec, .servSec {
	.flex {
		@include justify-content(space-between);
		.flexDiv {
			width: 31%;
			max-width: 330px;
		}
	}
}
.contactSec {
	.secWrapper {
		padding: 50px 30px 30px 30px !important;
		h4 {
			margin: 6px 0px 0px 6px;
		}
		.flex {
			max-width: none;
			@include flex-direction(row);
			@include justify-content(space-between);
			.contactForm {
				width: 49%;
			}
			.contactInfo {
				width: 49%;
				margin-top: -10px;
				min-width: 275px;
			}
		}
	}
}
.nf-field-container {
	margin: 7px !important;
}
.label-hidden .nf-field-element {
	margin: 12px 0px 6px 0px !important;
}
textarea#nf-field-3 {
	width: 70% !important;
	float: right !important;
	height: 85px !important;
	margin: -96px 10% 0px 20% !important;
}
input#nf-field-1, input#nf-field-2 {
	float: left !important;
	width: 20% !important;
	min-width: 120px !important;
}
.field-wrap input[type="submit"], .field-wrap input[type="button"], .field-wrap button {
	width: 10% !important;
	float: right !important;
	height: 85px !important;
	margin-top: -109px !important;
	min-width: 47px !important;
}

/************************************************************************************
*************************************************************************************

									   						BLOG POST STYLES

************************************************************************************
************************************************************************************/


/**********
  FEATURED
***********/

.featuredPosts {
	width: 100%;
	padding-left: 10%;
	margin-bottom: 50px;
	.backImg {
		height: 550px;
		position: relative;
		img {
			height: 100%;
		}
		.logoPrev {
			position: absolute;
			margin: 0;
			padding: 0;
			top: 60px;
			left: 60px;
		}
		.aInfo {
			background-color: white;
			width: 450px;
			position: absolute;
			right: 60px;
			left: auto;
			bottom: 60px;
			padding: 6px 18px 18px 18px;
			h2 {
				color: $orange;
				margin: 10px 0px 0px 0px;
			}
			p {
				margin: 0px;
			}
			a {
				font-weight: bold;
			}
		}
	}
}

/**********
	OTHER
***********/

.resSec {
	.otherPosts {
		padding: 4vw 0vw 2vw 0vw;
		;
	}
}

.otherPosts {
	@include flexbox;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	@include justify-content(space-between);
	width: 100%;
	padding: 4vw 0vw 2vw 0vw;
	.backImg {
		height: 400px;
		position: relative;
		width: 48%;
		@include flexbox;
		@include align-items(flex-end);
		@include justify-content(center);
		.logoPrev {
			padding: 0px 0px 260px 0px;
		}
		.aInfo {
			bottom: 0;
			min-width: 369px;
			background-color: white;
			width: 48%;
			left: auto;
			max-width: 450px;
			margin: 0px 0px 50px 0px;
			padding: 6px 18px 18px 18px;
			h2 {
				color: $orange;
				margin: 10px 0px 0px 0px;
			}
			p {
				margin: 0px;
			}
			a {
				font-weight: bold;
			}
		}
	}
}

/**********
 WEAVER PAGE
***********/
.weaverContent {

	.weaverTitle {
		margin-top: -150px;
		.weaveUp {
			.wM {display: none;}
			.wD {display: block;
					width: 100%;
					max-width: 750px;
					margin: auto;}

		}
		}
}

/**********
 FEATURED WEAVER
***********/

.featuredWeaver {
	padding-left: 10%;
	margin-bottom: 50px;
	h1 {
		padding: 0px 30px 0px 12%;
		left: -12%;
	}
	.backImg {
		height: 550px;
		position: relative;
		img {
			height: 100%;
		}
		.weInfo {
			background-color: $darkGrey;
			bottom: 30px;
			left: 20px;
			.issueNo {
				color: $orange;
				font-size: 2.7em;
			}
		}
	}
}

/**********
  SUB WEAVER
***********/

.subWeaver {
	position: relative;
	width: 100%;
	padding-left: 10%;
	margin-bottom: 70px;
	@include flexbox;
	@include justify-content(space-between);
	.weInfo {
		background-color: $darkGrey;
		bottom: 30px;
		left: 20px;
		.issueNo {
			color: $orange;
			font-size: 2.7em;
		}
	}
	.backImg {
		width: 48%;
		height: 300px;
		position: relative;
		margin: 0px;
		img {
			height: 100%;
		}
	}
}

/************************************************************************************
		*************************************************************************************

											   			BLOG PAGE/POST STYLES

		************************************************************************************
		************************************************************************************/
		/**********
		WEAVER POST
		***********/

		.weaverPosts {
			.imgRight {
				float: right !important;
				width: 50% !important;
				height: auto !important;
				margin-left: 2vw !important;
			}
			.imgLeft {
				float: left !important;
				width: 50% !important;
				height: auto !important;
				margin-left: 2vw !important;
			}
			.blogHeader {
			.postLogo {
				display: block;
				width: 100px;
				height: auto;
				position: absolute;
				top: 3vw;
				right: 5vw;
			}}
		}

/**********
ACTUAL POST
***********/



.blog-content {
	.imgRight {
		float: right !important;
		width: 50% !important;
		height: auto !important;
		margin-left: 2vw !important;
	}
	.imgLeft {
		float: left !important;
		width: 50% !important;
		height: auto !important;
		margin-left: 2vw !important;
	}
	.blogHeader {
	.postLogo {
		display: block;
		width: 100px;
		height: auto;
		position: absolute;
		top: 3vw;
		right: 5vw;
	}}
}
.blogImgs {
	@include flexbox;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	@include justify-content(space-between);
	width: 100%;
	margin-bottom: 50px;
	padding: 0vw;
	.bImg {
		height: 400px;
		margin: 0vw 0vw 2vw 0vw;
		position: relative;
		width: 48%;
	}
}

/************************************************************************************
	*************************************************************************************

														weaver sign

	************************************************************************************
	************************************************************************************/

	.miniSignUp {
		padding: 15px 0px 10px 0px;}

@media (min-width: 990px) {
.miniSignUp {
	padding: 20px 0px 0px 0px;
	.flex {
		width: 100%;
		@include flexbox;
		@include justify-content(center);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		.flexDiv {
		width: 48%;
		max-width: 430px;
	h3 {
		margin-bottom: 30px;
	}
}}}
}
/************************************************************************************
	*************************************************************************************

														CONTACT PAGE

	************************************************************************************
	************************************************************************************/

.contDiv {
	@include justify-content(space-between);
}
.contactPage {
	.secWrapper {
		.flex {
			@include justify-content(space-between);
		}
	}
}
#mc_embed_signup .button {
	width: 100% !important;
	padding: 0px 18px !important;
}
