/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheetF
and will be used across all viewports.

******************************************************************/


/*********************
GENERAL STYLES
*********************/
a {outline: 0 !important;}
a:visited {outline: 0 !important;}


body {
	font-size: 100%;
	line-height: 1.5;
	color: $darkGrey;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	overflow-x: hidden !important;
	font-family: 'Kanit', sans-serif;
	min-width: 320px;
}

* {
	/* Calculation */
	--diff: calc(var(--max-size) - var(--min-size));
	--responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420)));
	/* Ranges from 421px to 1199px */
}
p {
	--max-size: 16;
	--min-size: 14;
	font-size: var(--responsive);
}
h1 {
	margin: 0px;
	--max-size: 32;
	--min-size: 25;
	font-size: var(--responsive);
}
h2 {
	margin: 0px;
	--max-size: 22;
	--min-size: 19;
	font-size: var(--responsive);
}
h3 {
	font-weight: 700;
	margin: 0px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	--max-size: 18;
	--min-size: 16;
	font-size: var(--responsive);
}
h4 {
	font-weight: 700;
	margin: 0px;
	letter-spacing: 1px;
	font-family: 'Kanit', sans-serif;
	--max-size: 18;
	--min-size: 16;
	font-size: var(--responsive);
}
#greyBack {
	background-color: $offWhite;
}
#orange {
	color: $orange;
}
.headerMntxt {
	font-size: 77px;
	font-weight: 900;
}
.headerSubtxt {
	fill: $orange;
	font-weight: 700;
	font-size: 33px;
}
.innerWrap {
	width: 100%;
	max-width: $maxWidth;
	margin: auto;
	padding: $secPadding;
}
#wrapper {
	padding-top: 70px;
	position: relative;
	z-index: 995;
}

/************************************************************************************
*************************************************************************************

							      HEADER BANNER

************************************************************************************
************************************************************************************/

.fullSiteD {
	display: none;
}
.fullSiteM {
	background-color: $medGrey;
	width: 100%;
	padding: 10px;
	h3 {
		color: white;
		text-align: center;
		font-size: 1em;
	}
}
.greyH1 {
	fill: $medGrey;
}
.whiteH1 {
	fill: #FFFFFF;
}
.orangePath {
	fill: none;
	stroke: #EA9334;
	stroke-width: 51;
	stroke-miterlimit: 10;
}
.hBanner {
	width: 100%;
	padding: 4% 0px 0px 0%;
	min-width: 320px;
	.backImg {
		width: 96%;
		height: 540px;
		transform-style: preserve-3d;
		position: relative;
		right: -4%;
	}
	.homeTriangles {
		width: 22%;
		min-width: 160px;
		position: absolute;
		top: 130px;
		left: 1%;
	}
	.sideText {
		width: 90%;
		position: absolute;
		top: 130px;
		right: 5%;
		@include flexbox;
		@include align-items(flex-end);
		@include flex-direction(column);
		.topSlog {
			min-width: 250px;
			max-width: 500px;
			width: 40%;
		}
		.mainP {
			background-color: $darkGrey;
			width: 85%;
			padding: 10px 20px;
			margin-top: 40px;
			max-width: 700px;
			span {
				color: $orange;
				font-weight: bold;
			}
			p {
				color: white;
				font-size: 1em;
			}
		}
	}
}

@media (max-width: 350px) {
.mainP {width: 95% !important;
	p {font-size: .9em !important;}}
}


.homeHeadContent {
	width: 85%;
	display: block;
	margin: auto;
	padding-top: 110px;
	img {
		width: 100%;
		max-width: 350px;
		min-width: 210px;
		display: block;
		margin: auto;
	}
}
.ctaButton {
	width: auto;
	border-radius: $bRad;
	display: block;
	margin: auto;
	width: 165px;
	margin-top: 50px;
	padding: 1px;
	background-color: black;
	h4 {
		text-align: center;
		padding: 10px 0 10px 0;
		margin: 5px;
		font-size: 1.1em;
		color: green;
	}
}
.ctaButton:hover {
	background-color: white;
}
.orangeT {
	fill: rgba(233, 146, 51, .5);
	animation-name: orangeT;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
.lineT {
	fill: none;
	stroke: white;
	stroke-width: 3;
	stroke-miterlimit: 10;
	animation-name: lineT;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes lineT {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes orangeT {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.main-line {
	fill: none;
	stroke: #EA9334;
	stroke-width: 51;
	stroke-miterlimit: 10;
}
.mainRec {
	fill: none;
	stroke: #1A1B1C;
	stroke-width: 238;
	stroke-miterlimit: 10;
}
.st1 {
	fill: #1E2226;
}
.st2 {
	font-family: 'Univers-ExtraBlack';
}
.st3 {
	font-size: 47.3497px;
}
.st4 {
	fill: #FFFFFF;
}
.st6 {
	fill: none;
}
.st7 {
	fill: #EA9334;
}
.st8 {
	font-family: 'Univers-CondensedBold';
}
.st9 {
	font-size: 27px;
}
.st10 {
	letter-spacing: 7;
}
.st11 {
	font-family: 'Univers-Condensed';
}
.st12 {
	letter-spacing: 2;
}
.st13 {
	letter-spacing: 6;
}

/************************************************************************************
*************************************************************************************

							      HOME SECTIONS

************************************************************************************
************************************************************************************/
.weaverHimg {
	display: none;
	width: 100%;
	margin-top: -100px;
}



.servSec {
	.secHeader {
		width: 30%;
		margin-bottom: 30px;
		min-width: 270px;
	}
	.flex {
		@include flex-flow(row wrap);
		.flexDiv {
			width: 100%;
			max-width: 500px;
			margin-top: 20px;
			@include flexbox;
			@include flex-direction(row);
			:nth-child(1) {
				width: 100%;
				max-width: 100px;
				img {
					width: 90%;
				}
			}
			:nth-child(2) {
				width: 100%;
				h3 {
					width: 100%;
				}
				p {
					width: 100%;
				}
			}
		}
	}
}
.testSec {
	background-color: $grey;
	.secHeader {
		width: 30%;
		margin-bottom: 20px;
		min-width: 270px;
	}
	.flex {
		@include flex-flow(row wrap);
		@include justify-content(space-around);
		.flexDiv {
			width: 100%;
			max-width: 500px;
			margin-bottom: 4vw;

			.callout {
				h4 {
					line-height: 18px;
				}
				p {
					color: white;
				}
				.qAuth {
					text-align: right;
					margin-right: 10px;
					h4 {
						color: $orange;
					}
					p {
						margin: 0px;
					}
				}
			}
		}
	}
}
.logoSec {
	background-color: $medGrey;
	.secWrapper {
		padding: 30px !important;
		.flex {
			@include flex-flow(row wrap);
			@include justify-content(space-around);
			.flexDiv {
				width: 23%;
				height: auto;
				max-width: 150px;
				min-width: 110px;
				margin: 20px;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.miniTri {
	fill: none;
	stroke: $orange;
	stroke-width: 4;
	stroke-miterlimit: 10;
}
.qLine {
	fill: none;
	stroke: $orange;
	stroke-width: 3;
}
.qLR {
	fill: white;
}

/************************************************************************************
*************************************************************************************

											   			GALLERY PAGE

************************************************************************************
************************************************************************************/

.galleryFlex {
	@include flexbox;
	@include justify-content(space-around);
	@include flex-flow(row wrap);
	margin-top: 30px;
	div {
		width: 100%;
		margin-bottom: 20px;

		a {
			text-decoration: none;
		}
		img {
			width: 100%;
			height: auto;
		}
		p {
			margin: 0px;
			color: black;
			.fa {
				color: $orange;
			}
		}
	}
}

/************************************************************************************
*************************************************************************************

									   						BLOG		POST STYLES

************************************************************************************
************************************************************************************/


/**********
	ACTUAL POST
***********/



.backImg {
	width: 100%;
	height: 300px;
}
.blog-content {
	width: 90vw;
	margin-top: -100px;
	margin-left: 5vw;
	position: relative;
	background-color: white;
	padding: 5vw;
	.imgRight {
		float: none !important;
		width: 100% !important;
		height: auto !important;
	}
	.imgLeft {
		float: none !important;
		width: 100% !important;
		height: auto !important;
	}
	.wp-caption-text {
		width: 100% !important;
		font-style: italic;
		float: right !important;
		margin-top: 0px !important;
		--max-size: 14;
		--min-size: 12;
		font-size: var(--responsive);

	}
	.blogHeader {
		margin-bottom: 60px;
	h2 {
		color: $orange;
	}
	.postLogo {
		display: none;
	}}
	ul {
		list-style-type: disc;
		margin-left: 30px;
	}
	img {
		width: 100%;
		height: auto;
	}
	a {
		color: black;
	}
}
.blogImgs {
	width: 100%;
	padding: 5vw;
	.bImg {
		height: 400px;
		width: 80vw;
		margin: 0vw 5vw 5vw 5vw;
	}
}
a.dkpdf-button {
	color: black;
	text-decoration: none;
}

/**********
	WEAVER POST
***********/

.weaverContent {
	width: 90vw;
	margin-top: -117px;
	margin-left: 5vw;
	position: relative;
	background-color: white;
	padding: 0vw 5vw 5vw 5vw;
	min-width: 250px;
	.weaverTitle {
		margin: 0px -5vw 75px -5vw;

		.weaveUp {
			background-color: $grey;
			.wM {width: 100%;
						max-width: 350px;
						margin: auto;}
			.wD {display: none;}
		}
		.weaveLow {
			background-color: $darkGrey;
		}
		h1 {
			color: white;
			font-size: 1.2em;
			margin-bottom: -13px;
			padding-left: 20px;
		}
		h2 {
			color: $orange;
			font-size: 1.2em;
		}
	}
	.weaverPosts {
		width: 100%;
			img {
				width: 100%;
				height: auto;
			}
			h2 {
				color: $orange;
			}
			a {
				font-weight: bold;
				color: $darkGrey;
				text-decoration: none;
			}
			ul {
				list-style-type: disc;
				margin-left: 30px;
			}
	}
}

a.dkpdf-button span.dkpdf-button-icon {
	font-size: 100%;
}
.dkpdf-button-container {
  float: right;
  width: auto;
  margin: -34px 20px 0px 0px;

}
a.dkpdf-button {color: $orange;}


/**********
  FEATURED
***********/

.featuredPosts {
	width: 100%;
	padding-left: 6%;
	margin-bottom: 20px;
	.backImg {
		height: 450px;
		position: relative;
		img {
			height: 100%;
		}
		.logoPrev {
			width: 100px;
			height: auto;
			padding: 70px 0px 0px 0px;
			margin: auto;
			display: block;
		}
		.aInfo {
			background-color: white;
			width: 90%;
			position: absolute;
			bottom: 40px;
			left: 5%;
			padding: 6px 18px 18px 18px;
			h2 {
				color: $orange;
				margin: 10px 0px 0px 0px;
			}
			p {
				margin: 0px;
			}
			a {
				font-weight: bold;
				text-decoration: none;
				color: $darkGrey;
			}
		}
	}
}


/**********
	 OTHER
***********/

.resSec {
	width: 100%;
	position: relative;
	padding-top: 20px;
	h1 {
		position: relative;
		z-index: 800;
		display: inline;
		width: inherit;
		padding: 0px 4vw 0px 4vw;
		background-color: $orange;
	}
}

.otherPosts {
	padding: 4vw 2vw 2vw 2vw;

	.backImg {
		height: 400px;
		position: relative;
		width: 100%;
		margin-bottom: 2vw;
		img {
			height: 100%;
		}
		.logoPrev {
			width: 100px;
			height: auto;
			padding: 70px 0px 0px 0px;
			margin: auto;
			display: block;
		}
		.aInfo {
			background-color: white;
			width: 90%;
			position: absolute;
			bottom: 40px;
			left: 5%;
			padding: 6px 18px 18px 18px;
			h2 {
				color: $orange;
				margin: 10px 0px 0px 0px;
			}
			p {
				margin: 0px;
			}
			a {
				font-weight: bold;
				text-decoration: none;
				color: $darkGrey;
			}
		}
	}
}
/**********
	 Blog Grid Posts
***********/
.blogGrid {
	width: 100%;
	position: relative;
	h1 {
		position: relative;
		z-index: 800;
		display: inline;
		width: inherit;
		padding: 0px 4vw 0px 4vw;
		background-color: $orange;
	}
.blogGridPosts {
	@include flexbox;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	@include justify-content(space-around);
	@include transition(.3s);
	padding: 4vw 2vw 2vw 2vw;
	.backImg {
		margin-bottom: 2vw;
		height: 300px;
		position: relative;
		width: 100%;
		img {
			height: 100%;
		}
		.logoPrev {
			width: 100px;
			height: auto;
			padding: 70px 0px 0px 0px;
			margin: auto;
			display: block;
		}
		.aInfo {
			background-color: white;
			width: 90%;
			position: absolute;
			bottom: 20px;
			left: 5%;
			padding: 6px 10px 10px 10px;
			h2 {
				color: $orange;
				margin: 10px 0px 0px 0px;
			}
			p {
				margin: 0px;
			}
			a {
				font-weight: bold;
				text-decoration: none;
				color: $darkGrey;
			}
		}
	}
}}

.seeAll {
	margin: auto;
	display: block;
	width: 130px;
	background-color: $darkGrey;
	color: $orange;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}
.seeAll:hover, .postButton:hover {
	@include transition(.3s);
	color: white !important;
	background-color: $medGrey;
}

.postButton {
	margin: auto;
	display: table;
	margin-top: 20px;
	width: auto;
	padding: 10px 20px;
	background-color: $darkGrey;
	color: $orange !important;
	text-decoration: none;
	text-align: center;
}

/**********
FEATURED WEAVER
***********/

.featuredWeaver {
	position: relative;
	width: 100%;
	padding-left: 6%;
	margin-bottom: 20px;
	h1 {
		position: relative;
		top: 110px;
		z-index: 800;
		display: inline;
		width: inherit;
		padding: 0px 30px 0px 7%;
		left: -7%;
		background-color: $orange;
	}
	.backImg {
		height: 450px;
		position: relative;
		img {
			height: 100%;
		}
		.weInfo {
			background-color: $darkGrey;
			position: absolute;
			padding: 0px 20px 10px 20px;
			bottom: 30px;
			left: 20px;
			z-index: 800;
			.issueNo {
				color: $orange;
				font-size: 2.2em;
				margin: 0px 0px -10px 0px;
			}
			a {
				text-decoration: none;
				h4 {
					color: white;
					z-index: 800;
				}
			}
		}
	}
}

/**********
SUB WEAVER
***********/

.subWeaver {
	position: relative;
	width: 100%;
	padding: 0vw 2vw 2vw 2vw;
	.weInfo {
		background-color: $darkGrey;
		position: absolute;
		padding: 0px 20px 10px 20px;
		bottom: 30px;
		left: 20px;
		z-index: 800;
		.issueNo {
			color: $orange;
			font-size: 2.2em;
			margin: 0px 0px -10px 0px;
		}
		a {
			text-decoration: none;
			h4 {
				color: white;
				z-index: 800;
			}
		}
	}
	.backImg {
		height: 250px;
		position: relative;
		width: 100%;
		margin-bottom: 2vw;
		img {
			height: 100%;
		}
	}
}
/**********
WEAVER GRID
***********/

.WeaverblogGrid {
	width: 100%;
	position: relative;
	h1 {
		position: relative;
		z-index: 800;
		display: inline;
		width: inherit;
		padding: 0px 4vw 0px 4vw;
		background-color: $orange;
	}
	.blogGridPosts {
		@include flexbox;
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include justify-content(space-around);
		@include transition(.3s);
		padding: 4vw 2vw 2vw 2vw;
	.weInfo {
		background-color: $darkGrey;
		position: absolute;
		padding: 0px 20px 10px 20px;
		bottom: 30px;
		left: 20px;
		z-index: 800;
		.issueNo {
			color: $orange;
			font-size: 2.2em;
			margin: 0px 0px -10px 0px;
		}
		a {
			text-decoration: none;
			h4 {
				color: white;
				z-index: 800;
			}
		}
	}
	.backImg {
		margin-bottom: 2vw;
		height: 300px;
		position: relative;
		width: 100%;
		img {
			height: 100%;
		}
		h2 {
			color: $orange;
		}
		a {
			font-weight: bold;
			color: $darkGrey;
			text-decoration: none;
		}
		ul {
			list-style-type: disc;
			margin-left: 30px;
		}
}
}}

/************************************************************************************
*************************************************************************************

									         PROJECTS PAGE

************************************************************************************
************************************************************************************/
.tempProj {
	background: url("/wp-content/themes/KTBonesTheme/library/images/mkebucks.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 350px;
	img {
		width: 100%;
		height: auto;
	}
}

#midBorder {
	border-top: 3px solid $offWhite;
	border-bottom: 3px solid $offWhite;
}
.projectCategories {
	padding-bottom: 70px;
	.secWrapper {
		.flex {
			width: 100%;
			max-width: 500px;
			margin: auto;
			padding: 5vw;
			height: fit-content;
			.pCatInfo {
				--max-size: 16;
				--min-size: 14;
				font-size: var(--responsive);
				img {
					width: 70px;
					height: 70px;
					margin: auto;
					display: block;
				}
				.ulLeft {
					margin: 0px;
					padding: 0px 0px 0px 20px;
					li {
						list-style-type: disc;
					}
				}
				.ulRight {
					margin: 0px;
					padding: 0px 0px 0px 20px;
					li {
						list-style-type: disc;
					}
				}
			}
			.logoFlex {
				@include flexbox;
				@include justify-content(space-around);
				@include flex-flow(row wrap);
				width: 100%;
				.logoPrev {
					width: 30%;
					margin: 1.5%;
					background-color: $offWhite;
					img {
						padding: 2%;
						width: 100%;
						height: auto;
						-webkit-filter: brightness(10%); /* Safari 6.0 - 9.0 */
			    	filter: brightness(10%);
					}
				}
			}
		}
	}
}
.logoPrev img:hover {
	-webkit-filter: initial !important; /* Safari 6.0 - 9.0 */
	filter: initial !important;
	@include transition(.3s);
}
/************************************************************************************
*************************************************************************************

							   GENERAL FLEX RULEZ

************************************************************************************
************************************************************************************/

section {
	width: 100%;
	.secWrapper {
		max-width: $maxWidth;
		margin: auto;
		padding: $secPadding;
		.flex {
			@include flexbox;
			@include flex-direction(row);
			.flexDiv {
				.innerFlex {}
			}
		}
	}
}
.secWrapper {
	max-width: $maxWidth;
	margin: auto;
	padding: $secPadding;
}
.accentT {
	position: relative;
	width: 22px;
	margin: 0px 0px 17px 5px;
	.tPath {
		fill: none;
		stroke: $orange;
		stroke-width: 3;
		stroke-miterlimit: 10;
	}
}

/************************************************************************************
	*************************************************************************************

								      CONTACT PAGE

	************************************************************************************
	************************************************************************************/

.contactPage {
	background-color: $medGrey;
	padding-top: 70px;
	.secWrapper {
		max-width: 1000px;
		.flex {
			@include justify-content(space-around);
			@include flex-flow(row wrap);
			margin-bottom: 70px;
			.contactForm2 {
				width: 48%;
				height: 200px;
				width: 48%;
				min-width: 275px;
				h1 {
					color: white;
				}
				a {
					text-decoration: none;
					color: white;
					margin-bottom: -12px;
					p {
						font-size: .95em;
						margin: 4px;
					}
				}
			}
		}
	}
}
.form-line, .form-line.form-line-column {
	padding: 0px !important;
}
.contDiv {
	@include flexbox;
	@include justify-content(space-around);
	@include flex-flow(row wrap);
	.contactInfo {
		width: 260px;
		margin: 15px 0px;
		h1 {
			color: white;
		}
		a {
			text-decoration: none;
			color: white;
			margin-bottom: -12px;
			p {
				font-size: .95em;
				margin: 4px;
			}
		}
		.yellB {
			border-left: 3px solid $orange;
			padding-left: 25px;
			margin: 0px 0px 20px 10px;
			h3 {
				text-transform: uppercase;
				color: white;
				margin-top: -5px;
			}
			h5 {
				color: white;
				text-transform: uppercase;
				margin: 0px 0px -5px 0px;
			}
		}
	}
}
.emailSignUp {
	background-color: $grey;
	padding: $secPadding;
	h3 {
		color: white !important;
		text-transform: none !important;
		text-align: center;
		margin-bottom: 30px;
	}
	#mc_embed_signup { background-color: $grey !important;}
	#mc_embed_signup .button, #mc_embed_signup input.email { border: 2px solid white !important;}
}

.miniSignUp {
	background-color: $offWhite;
	padding: 15px 0px 35px 0px;
	.flex {
		width: 100%;
		.flexDiv {
		width: 90%;
		margin: auto;
	h3 {
		color: $grey !important;
		text-transform: none !important;
		text-align: center;
		margin-bottom: 10px;
	}
	#mc_embed_signup { background-color: $offWhite !important;}
	#mc_embed_signup .button, #mc_embed_signup input.email { border: 2px solid $grey !important;}
}}}





#mc_embed_signup {

	width: 100% !important;
	max-width: 430px !important;
	margin: auto !important;
}
#mc_embed_signup .button, #mc_embed_signup input.email {
	font-family: 'Kanit', sans-serif !important;
	font-weight: 400 !important;
	border-radius: 0px !important;
	background-color: transparent !important;
	height: 38px !important;
	line-height: 31px;
	font-size: 14px !important;
	color: $orange !important;
}
#mc_embed_signup .button {
	float: right !important;
	width: 25% !important;
	margin: -14px 0px 0px -1px !important;
	padding: 0px !important;
}
#mc_embed_signup .button:hover {
	background-color: white !important;
	@include transition(.3s);
}
#mc_embed_signup input.email {
	float: left !important;
	width: 75% !important;
	font-weight: 400 !important;
	padding: 0px 18px !important;
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/

.contactSec {
	background-color: $darkGrey;
	.secWrapper {
		padding: 70px 30px 30px 30px !important;
		h4 {
			color: $orange;
			margin: 6px 0px 16px -5px;
		}
		.flex {
			margin-top: 7px;
			width: 100%;
			@include flex-direction(column);
			@include justify-content(space-around);
			.contactForm {
				min-width: 270px;
				max-width: 470px;
				width: 100%;
			}
			.contactInfo {
				width: 100%;
				margin-top: 20px;
				a {
					text-decoration: none;
					color: white;
					margin-bottom: -12px;
					p {
						font-size: .95em;
						margin-top: -10px;
						margin: 9px;
					}
				}
			}
		}
	}
}
input#nf-field-1, input#nf-field-2 {
	float: left !important;
	width: 30% !important;
	min-width: 120px !important;
	padding: 10.5px !important;
}
textarea#nf-field-3 {
	width: 70% !important;
	float: right !important;
	height: 79px !important;
	margin: -84px 0% 0px 20% !important;
}

/*****************
 *****************
    Ninja Forms
 *****************
 *****************/

.nf-field-container {
	margin: -4px !important;
}
.label-hidden .nf-field-element {
	margin: 12px 0px 6px 0px !important;
}
div#nf-form-1-cont {
	width: 100%;
}
.ninja-forms-form-wrap *, .ninja-forms-form-wrap *:after, .ninja-forms-form-wrap *:before {
	color: white;
	line-height: .8em;
}
.field-wrap input[type="submit"], .field-wrap input[type="button"], .field-wrap button {
	width: 100% !important;
	background: none;
	border: 2px solid white !important;
	color: $orange !important;
	height: 41px !important;
	margin-top: -20px !important;
}
.field-wrap input[type="button"]:hover {
	background-color: white !important;
	color: $darkGrey !important;
	@include transition(.5s);
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	background-color: $darkGrey !important;
	width: 100% !important;
	max-width: none !important;
	border-radius: 0px !important;
	border: 2px solid white !important;
	padding: 8px !important;
	margin: -14px 0px !important;
	color: white !important;
}
.nf-form-fields-required {
	display: none !important;
}

/************************************************************************************
*************************************************************************************

							     											ABOUT

************************************************************************************
************************************************************************************/


.aboutSec {
	h2 {
		margin-top: -10px;
	}
	h4 {
		margin-top: 12px;
	}
}


/*****************
 *****************
       WEAVE
 *****************
 *****************/
.animationMobile {display:block;}
.animationDesk {display: none;}
 .cultWrap {
 		width: 100%;
   padding: 4vw 0vw 0vw 0vw;
 }
.weaveMwrap {
	width: 100%;
	padding: 7vw 6vw 6vw 6vw;
}
.weaveWrap {
	width: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 4vw 0vw;
}
.weaveOrange{fill: $orange;}
.weaveGrey{fill: $darkGrey;}
.weaveLine, .otherLine{
	fill:none;
	stroke: #CCCCCC;
	stroke-miterlimit:10;}
.cityBlocks {
	fill:#FFFFFF;
	stroke:#CCCCCC;
	stroke-miterlimit:10;
}
.whiteBlock {
	fill:#FFFFFF;
}


/*****************
 *****************
       Team
 *****************
 *****************/
.meetTeam {
	padding: 70px 0px;
	h1 {
		margin-left: 30px;
	}
}
.topTeamWrap {
	height: 85vw;
	min-height: 340px;
	max-height: 665px;
	position: relative;
	margin: auto;
  width: 100%;
  max-width: $maxWidth;
}
.headshots {
	@include justify-content(space-between);
	@include flex-direction(row);
	@include align-items(flex-end);
	width: 100%;
	.flexDiv {
		@include transition(.3s);
		position: absolute;
		background-repeat: no-repeat !important;
		background-size: contain !important;
		background-position: bottom center !important;
		opacity: .7;
		bottom: 86px;
		height: 100%;
		z-index: 200;
		width: 30%;
	}
}
.hShot1 {
	left: 1%;
	background: url('/wp-content/themes/KTBonesTheme/library/images/ian_serious_headshot.png');
}

.hShot1active {
	height: 100% !important;
	opacity: 1 !important;
	z-index: 300 !important;
	left: -2% !important;
	width: 50% !important;
	background: url('/wp-content/themes/KTBonesTheme/library/images/ian_headshot.png') !important;

}
.hShot2 {
	left: 36%;
	background: url('/wp-content/themes/KTBonesTheme/library/images/blair_serious_headshot.png');
}
.hShot2active {
	height: 100% !important;
	left: 25% !important;
	width: 50% !important;
	opacity: 1 !important;
	z-index: 300 !important;
	background: url('/wp-content/themes/KTBonesTheme/library/images/blair_headshot.png') !important;

}
.hShot3 {
	right: 1%;
	background: url('/wp-content/themes/KTBonesTheme/library/images/chris_serious_headshot.png');
}
.hShot3active {
	height: 100% !important;
	width: 50% !important;
	opacity: 1 !important;
	z-index: 300 !important;
	right: -2% !important;
	background: url('/wp-content/themes/KTBonesTheme/library/images/chris_headshot.png') !important;
}

/***
.headshots {
	@include justify-content(space-between);
	@include flex-direction(row);
	@include align-items(flex-end);
	.flexDiv {
		height: 500px;
		width: 300px;
	}
}
.hShot1{background-image: url(/wp-content/themes/KTBonesTheme/library/images/ian_serious_headshot.png); @include transition(.6s); height:auto; position: absolute; bottom: 86px; z-index: 200; left: 6%; width: 30%; opacity: .7;}
.hShot1active {background-image: url(/wp-content/themes/KTBonesTheme/library/images/ian_headshot.png) !important; width: 58% !important; opacity: 1 !important; z-index: 300 !important; left: -5% !important;}
.hShot2{background-image: url(/wp-content/themes/KTBonesTheme/library/images/blair_serious_headshot.png); @include transition(.6s); height:auto; position: absolute; left: 35%; bottom: 86px; z-index: 200; width: 30%; opacity: .7;}
.hShot2active {background-image: url(/wp-content/themes/KTBonesTheme/library/images/blair_headshot.png) !important; left: 18% !important; width: 58% !important; opacity: 1 !important; z-index: 300 !important;}
.hShot3{background-image: url(/wp-content/themes/KTBonesTheme/library/images/chris_serious_headshot.png); @include transition(.6s); height:auto; position: absolute; bottom: 86px; z-index: 200; right: 5%; width: 30%; opacity: .7;}
.hShot3active {background-image: url(/wp-content/themes/KTBonesTheme/library/images/chris_headshot.png) !important; width: 58% !important; opacity: 1 !important; z-index: 300 !important; right: -3% !important;}

***/

.empT1 {
	display: none;
}
.empActive1 {
	display: block !important;
}
.empT2 {
	display: none;
}
.empActive2 {
	display: block !important;
}
.empT3 {
	display: none;
}
.empActive3 {
	display: block !important;
}
.empTitles {
	background-color: $darkGrey;
	margin: -7px 0px 20px 0px;
	width: 100%;
	z-index: 400;
	padding: 10px 15px 15px 15px;
	position: absolute;
	bottom: 0;
	@include flexbox;
	@include justify-content(space-around);
	.empT1, .empT2, .empT3 {
		h3 {
			color: white;
		}
		h5 {
			color: white;
			text-transform: uppercase;
			margin: 0px;
		}
	}
}
.bios {
	padding: 0px 30px;
	margin: auto;
	width: 100%;
	max-width: $maxWidth;
}
.bio1 {
	display: none;
}
.bioActive1 {
	display: block !important;
}
.bio2 {
	display: none;
}
.bioActive2 {
	display: block !important;
}
.bio3 {
	display: none;
}
.bioActive3 {
	display: block !important;
}

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/

.deskMenu {display: none;}

nav {
	background-color: $darkGrey;
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 999;
}


.wiredLogo {
	width: 190px;
	position: absolute;
	z-index: 999;
	top: 12px;
	left: 10px;
	.wiredText {
		fill: #FFFFFF;
	}
	.logoTri {
		fill: $orange;
	}
}
.svgIcon {
	fill: $orange;
}
.svgIcon:hover {
	fill: white;
	@include transition(.5s);
}

.mobileMenu {
    height: 100vh;
		width:100%;
    background: $darkGrey;
    position: fixed;
    z-index:998;
    top:-100vh;
		@include transition(.5s);
    opacity:0;
    ul {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding:0;
        li {
					list-style: none;
            a {
                width:100%;
                max-width:1200px;
                overflow:hidden;
                position:relative;
								margin:0 auto;
                display:block;
                text-align: center;
                text-decoration:none;
                color: $white;
								font-size: 1.8em;
								font-weight: bold;
                &:after {
                    content:'';
										background: $orange;
                    width:100%;
                    height:100%;
                    position:absolute;
                    right:-100%;
                    top:0;
                    z-index:-1;
                    @include transition(.5s);
                }
                &:hover {
                   &:after {
                    right:0;
                   }
                   color:$darkGrey;
                }
            }

        }
				.mSoc {
						padding: 10px 0px 0px 0px;
						margin: auto;
						@include flexbox;
						@include flex-direction(row);
						@include justify-content(center);

						a {
							margin: 0;
							width: auto;
							&:after {
									background: $darkGrey !important;
							}
						.socialI {
							width: 20px;
							height: 20px;
							margin: 5px;
							&:after {
									fill: white ;
							}
						}}
					}
    }}





		.mobileMenu--open {
		    top: 0;
		    opacity:1;
		}


// FLASHY SLIPPY NAV STYLES
.mobile-nav-button {
    width:27px;
    position: fixed;
    margin: 22px 22px 0px 0px;
    right:0;
    top:0;
    z-index:9999;
    cursor:pointer;
    height:30px;
    .mobile-nav-button__line {
        width:100%;
        height:3px;
        background:$orange;
        position:relative;
        transition:1s ease;
        &:nth-of-type(2) {
            margin:0.5rem 0;
        }

    }
    .mobile-nav-button__line--1 {
        transform: rotate(45deg);
        top: 7px;
        position: absolute;
    }
    .mobile-nav-button__line--2 {
        display: none;
    }
    .mobile-nav-button__line--3 {
        transform: rotate(135deg);
        top: 7px;
        position: absolute;
    }
}





/************************************************************************************
*************************************************************************************

							     MAP STYLES

************************************************************************************
************************************************************************************/

.mapButton {
	background-color: $darkGrey;
	color: white;
	font-weight: bold;
	text-align: center;
	position: absolute;
	bottom: 40px;
	left: 40px;
	letter-spacing: 1px;
	z-index: 999;
	padding: 6px 10px;
	text-decoration: none;
}
.mapHeight {
	position: relative;
	height: 370px;
}
.info div {
	width: 180px;
	padding-top: 10px;
}
.gm-style-mtc, .gm-style-mtc {
	display: none;
}
#map {
	width: 100%;
	height: 370px !important;
	position: absolute;
	display: block;
}

/*********************
    404
*********************/

.mWrap {
	#missing {
		display: block;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
		text-align: center;
		min-height: 600px;
		width: 80%;
		max-width: 404px;
		padding-top: 10%;
		h2 {
			text-align: center;
			margin: 0px auto;
			;
			font-size: 45px;
			width: 100%;
		}
		svg {
			width: 100px;
			margin: auto;
			.error {
				fill: $orange;
			}
		}
	}
}
