/* This Awesome CSS file was created by Font Orgranizer from Hive :) */


@font-face {
    font-family: 'Univers Condensed';
    
    src: url('//www.wired.dev/wp-content/uploads/font-organizer/Univers-ExtraBlack.otf') format('opentype'),
url('//www.wired.dev/wp-content/uploads/font-organizer/Univers-ExtraBlack-1.otf') format('opentype');
font-weight: 900;
}

@font-face {
    font-family: 'Univers Condensed';
    
    src: url('//www.wired.dev/wp-content/uploads/font-organizer/Univers-CondensedBold.otf') format('opentype');
font-weight: 700;
}

@font-face {
    font-family: 'Univers Condensed';
    
    src: url('//www.wired.dev/wp-content/uploads/font-organizer/Univers-Condensed.otf') format('opentype');
font-weight: normal;
}
