/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'Univers Condensed'!important; font-weight:normal!important;  }
h1 { font-family: 'Univers Condensed'!important; font-weight:900!important;  }
h2 { font-family: 'Univers Condensed'!important; font-weight:700!important;  }
h3 { font-family: 'Univers Condensed'!important; font-weight:700!important;  }
h4 { font-family: 'Univers Condensed'!important; font-weight:700!important;  }
.st8 { font-family: 'Univers Condensed'!important; font-weight:700!important; }
.st11 { font-family: 'Univers Condensed'!important; font-weight:normal!important; }
.field { font-family: 'Univers Condensed'!important;  }
#headBlack { font-family: 'Univers Condensed'!important; font-weight:900!important; }
#headYell { font-family: 'Univers Condensed'!important; font-weight:700!important; }
